<h1>Article</h1>

<form method="post" action="/articles">
    <label>Title:<label>
    <input for=":title" type="text" name="title"> <br>
    <label>Content:<label>
    <input type="text" name="content"> <br>
    <input id="submit" type="submit">

</form>