
<form action="/articles" method="post">
  <ul>
    <li>
      <label>Title</label>
      <input type="text" name="title" />
    </li>
    <li>
      <label>Content</label>
      <input type="text" name="content" />
    </li>
  </ul>
  <input type="submit" />
</form>