<%# create a form that posts to a controller action /articles %>

<h1>New Article</h1>

<form method='POST' action="/articles">
    Article Name: <input type="text" name="title"><br>
    Article Content: <input type="text" name="content"><br>

    <input type="submit" value="Submit">
</form>