<h1>Articles</h1>

<p>Article Title: <%= @article.title %> </p> <br>
<p>Article Content: <%= @article.content %> </p> <br>

<form method="post" action="<%= @article.id %>">
    <input type="hidden" id="hidden" name="_method" value="delete">
    <input type="submit" value="delete">
</form>

    